<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Router Fallback" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="/src/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>